body {
    background-color: black;
    color: white;
}

/* For toggling display of an element */
.visible {
}
.invisible {
    display: none;
}
/* end of display toggle related css logic */

/* For timer information */
.status {
    font-size: 4em;
    color: rgb(65, 184, 131);
    text-align: center;
}
.arrows {
    font-size: 20em;
    color: rgb(65, 184, 131);
    text-align: center;
}
@keyframes flash {
   0%, 50%, 100% {
      opacity: 1;
   }
   25%, 75% {
      opacity: 0;
   }
}
.flash {
    animation-name: flash;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

/* For range based sliders */
.rangeslider {
    width: 100%;
    align-items: center;
}
.selector {
    align-items: center;
    display: flex;
}
.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: #04AA6D;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.rangeslider .value.min {
    padding-left: 1em;
    font-size: 0.85em;
}
.rangeslider .value.max {
    padding-right: 1em;
    font-size: 0.85em;
}
.rangeslider .value.selected {
    padding-left: 1em;
    font-weight: bold;
    font-size: 1.5em;
}
/* end of range sliders related css logic */
